<div id="wraper">
    <h2>E'BAZZAR</h2>

    <!-- <div class="img">
        <img src="{{myimage}}">
    </div> -->
    <div class="login-class">

        <div class="form-content">
            <nav>
                <ul>
                    <li id="login"><a href="#">Login</a></li>
                    <li class="other"><a routerLink="/register">Sign Up</a></li>
                    <li class="other"><a routerLink="/register">New User?</a></li>
                </ul>
            </nav>
            <mat-form-field appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="User Name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" required>
            </mat-form-field>
            <nav>
                <ul>
                    <li>
                        <mat-checkbox>Remember Me</mat-checkbox>
                    </li>
                    <li style="float:right"><a href="#">Forget Password</a></li>
                </ul>
            </nav>
            <div class="button">
                <button mat-raised-button color="primary">LOGIN</button>
            </div>
        </div>
    </div>

</div>